/*specifying the root font-size*/
html {
    font-size: 16px;
    font-family: "Inter";
}

h3 {
    font-size: 1.5rem;
}

/*header styling*/
header {
    display: flex;
    justify-content: center;
}

#logo img {
    width: 30rem;
    height: auto;
    position: absolute;
    left: -4rem;
    top: -2em;
}

header h1 {
    font-size: 5rem;
    font-weight: 800;
    position: relative;
    z-index: 5;
    text-transform: uppercase;
}

@media only screen and (max-width: 1150px) {
    #logo img {
        position: static;
        margin-top: -7rem;        
        margin-bottom: -7rem;
    }

    header h1 {
        display: none;
    }
}

/*nav bar style*/
nav {
    position: relative;
    z-index: 5;
    background-color: rgb(32, 29, 29);
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 2rem 1rem;
    text-decoration: none;
    color: whitesmoke;
}

@media only screen and (max-width:600px) {
    nav {

        flex-direction: column;
        text-align: center;

    }

    nav a {
        padding: 1rem;
    }
}

/*hero section style*/
.hero-section {
    height: 40rem;
    background-image: url(./resources/hands-1063442_1920.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin-top: 1px;
}

.hero-section a {
    background-color: blueviolet;
    color: whitesmoke;
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
    .hero-section a {
        margin: 0 1rem;
        text-align: center;
    }
}
    

/* footer style */

footer {
    background-color: rgb(32, 29, 29);
    color:whitesmoke;
    padding: 1.5rem;
    margin-top: 3rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}


.footer-content a {
    color: whitesmoke;

}

.info {
    padding: 2rem;
}

/*main content for other pages style*/
.main {
    height: 20rem;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}